html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
body,html{font-family:"Microsoft Yahei",helvetica,sans-serif}
body,body *{user-select:none;-webkit-user-select:none;-webkit-overflow-scrolling:touch}
[contenteditable=true],input,textarea{-webkit-user-select:auto!important;-khtml-user-select:auto!important;-moz-user-select:auto!important;-ms-user-select:auto!important;-o-user-select:auto!important;user-select:auto!important}
a,div,header,span{-webkit-tap-highlight-color:rgba(255,255,255,0)}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
button,input,select,textarea{font-size:100%;font-family:"Heiti SC",helvetica,sans-serif,"Microsoft Yahei"}
li,ol,ul{list-style:none;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:0}
button,input,select{outline:0;border:none;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff}
/* button,input,select{outline:0;border:none;-webkit-appearance:none;appearance:none;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff} */
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
fieldset,img{border:0}
a{text-decoration:none;background-color:transparent;-webkit-tap-highlight-color:transparent}
i{font-style:normal}
.clearfix:after{content:'';display:block;clear:both;height:0;visibility:hidden}


.qmsg.qmsg-wrapper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .55);
    font-size: 13px;
    font-variant: tabular-nums;
    line-height: 1;
    list-style: none;
    font-feature-settings: "tnum";
    position: fixed;
    top: 16px;
    left: 0;
    z-index: 1010;
    width: 100%;
    pointer-events: none;
}
.qmsg .qmsg-item{
    padding: 8px;
    text-align: center;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    position: relative;
}
.qmsg .qmsg-item .qmsg-count{
    text-align: center;
    position: absolute;
    left: -4px;
    top: -4px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    border-radius: 2px;
    display: inline-block;
    min-width: 16px;
    height: 16px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.qmsg .qmsg-item:first-child{
    margin-top: -8px;
}
.qmsg .qmsg-content{
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 10px 16px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    pointer-events: all;
    /* min-width: 175px; */
    max-width: 80%;
    min-width: 80px;
}
.qmsg .qmsg-content [class^="qmsg-content-"]{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.qmsg .qmsg-content .qmsg-content-with-close{
    padding-right: 20px;
}
.qmsg .qmsg-icon{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 1px;
    margin-right: 8px;
    font-size: 16px;
}
.qmsg .qmsg-icon svg{
    display: inline-block;
}

.qmsg .qmsg-content-info .qmsg-icon{
    color: #1890ff;
    user-select: none;
}
.qmsg .qmsg-icon-close{
    position: absolute;
    top: 11px;
    right: 5px;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .45);
    transition: color .3s
}
.qmsg .qmsg-icon-close:hover>svg path{
    stroke: #555;
}
.qmsg .animate-turn{
    animation:MessageTurn 1s linear infinite;  
    -webkit-animation: MessageTurn 1s linear infinite;
}
@keyframes MessageTurn{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes MessageTurn{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes MessageMoveOut {
    0% {
        max-height: 150px;
        padding: 8px;
        opacity: 1
    }

    to {
        max-height: 0;
        padding: 0;
        opacity: 0
    }
}

@keyframes MessageMoveOut {
    0% {
        max-height: 150px;
        padding: 8px;
        opacity: 1
    }

    to {
        max-height: 0;
        padding: 0;
        opacity: 0
    }
}


@-webkit-keyframes MessageMoveIn {
    
    0% {
        transform: translateY(-100%);
        transform-origin: 0 0;
        opacity: 0
    }

    to {
        transform: translateY(0);
        transform-origin: 0 0;
        opacity: 1
    }
}

@keyframes MessageMoveIn {
    0% {
        transform: translateY(-100%);
        transform-origin: 0 0;
        opacity: 0
    }

    to {
        transform: translateY(0);
        transform-origin: 0 0;
        opacity: 1
    }
}
@-webkit-keyframes MessageShake {
    0%,
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  
    25%,
    75% {
        transform: translateX(-4px);
      opacity: 0.75;
    }
  
    50% {
        transform: translateX(4px);
        opacity: 0.25;
    }
  }
@keyframes MessageShake {
    0%,
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  
    25%,
    75% {
        transform: translateX(-4px);
      opacity: 0.75;
    }
  
    50% {
        transform: translateX(4px);
        opacity: 0.25;
    }
  }